<nav>
    <div class="indigo darken-4 nav-wrapper">
        <a href="#" class=" center yellow-text text-darken-3 brand-logo">WI$H POCKET</a>
        <ul class="right hide-on-med-and-down">
            <li class="indigo"><a href="555"><i class="yellow-text text-darken-3 large material-icons">insert_chart</i>
                    chart</a></li>
            <li class="indigo darken-1"><a href="#"><i
                        class="yellow-text text-darken-3 large material-icons">view_module</i>spending</a></li>
            <li class="indigo darken-2"><a href="#"><i
                        class="yellow-text text-darken-3 large material-icons">watch_later</i>history</a></li>
            <li class="indigo darken-3"><a href="#"><i
                        class="yellow-text text-darken-3 large material-icons">favorite</i>wish list</a></li>
        </ul>
    </div>
</nav>